
body {
    
    background-color:skyblue
}
#nav {
  text-align: justify;
}

nav {
    background-color:#142b47;;
    height:  110px;
    width: 100%;
    overflow: auto;
    margin-top: 0;
}
 nav ul {

    margin:0;
    padding:0;
    list-style: none;
    line-height: 60px;
 }
 nav li{
    text-align: center;
    font-size: medium;
    position: relative;
 }
 nav ul li{
    display:inline-block;
    line-height: 80px;
    margin: 0 5px;
 }
 nav ul li a{
    background:#142b47;
    text-decoration: none;
    width: 130px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    color: #f2f2f2;
    font-size: 18px;
    font-family: sans-serif;
    letter-spacing: 0.5;

 }
 a.active,a:hover{

background-color:rgb(198, 54, 54);
opacity:0.5;
font-size: 19px;

 }
 .search-form{
    margin-top: 15px;
    float: right;
    margin-right: 100px;
    

 }
 input [type = text] {
   padding: 7px;
   border: none;
   font-size: 16px;
   font-family: sans-serif;
 }
 
    
    
 
 #booksListDiv{
   font-size: 20px;
   width: 300px;
   margin-right: 1000px;
   font-family: sans-serif;
   
 }
 #main{
   width: 100px;
   display: none;
   


 }

 #list{
   width: 300px;
   border-color: black;
   border-radius: 5px;
   

 }
 #searchArea{
  margin-top: 10px;
 }
 #logIn input {
   font-size: 16px;
   border: 0;
   outline: none;
   height: 25px;
   
   
 }
 #btn{
   font-size: 18px;
   margin: 20px 0;
   padding:10px 15px;
 }
 #signUp input {
   font-size: 16px;
   border: 0;
   outline: none;
   height: 25px;
 }
 #signUp {
   display: none;
 }
 #aboutUs{
  display:none;
  color: orangered;
  text-shadow: #142b47;

 }
 #contactUsForm {
  display: none
 }
.container {
  width: 80%;
  height: 610px;
  /*background: aqua;*/
  margin: auto;
  padding: 10px;
}

.one {
  width: 15%;
  height: 600px;
  background:orangered;
  float: left;
}

.two {
  margin-left: 15%;
  height: 600px;
  background-color: rgba(243, 237, 238, 0.748);
  
}
#header{
  font-size:x-large;
  color:orangered;
  height: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  text-decoration: wavy;
}
  

