
body {
    
    background-color:skyblue
}

nav {
    background-color:#142b47;;
    height:  90px;
    width: 100%;
    overflow: auto;
    margin-top: 0;
}
 nav ul {

    margin:0;
    padding:0;
    list-style: none;
    line-height: 60px;
 }
 nav li{
    float: left;
 }
 nav ul li{
    display:inline-block;
    line-height: 80px;
    margin: 0 5px;
 }
 nav ul li a{
    background:#142b47;
    text-decoration: none;
    width: 130px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    color: #f2f2f2;
    font-size: 18px;
    font-family: sans-serif;
    letter-spacing: 0.5;

 }
 a.active,a:hover{

background-color:rgb(198, 54, 54);
opacity:0.5;
font-size: 19px;

 }
 .search-form{
    margin-top: 15px;
    float: right;
    margin-right: 100px;
    

 }
 input [type = text] {
   padding: 7px;
   border: none;
   font-size: 16px;
   font-family: sans-serif;
 }
 button {
    float:right;
    background-color: orange;
    color:white;
    font-family:sans-serif;
    position: relative;
    
    
 }





